body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* app/assets/css/style.css */
.container .row {
  align-items: center;
}

.has-pointer {
  cursor: pointer;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.table thead th {
  white-space: nowrap;
}

.table-wrapper {
  max-height: 80vh;
  overflow-y: auto;
}